html, body {
  margin: 0;
  padding: 0;
  display: table; }

#strategies {
  border: 1px solid red;
  width: 100%;
  height: 900px;
  float: left;
  background: #F8F9F9; }
  #strategies .image_boxes {
    border: 1px solid red;
    width: 300px;
    height: 310px;
    float: left;
    border-radius: 6%;
    transition: all 2s ease-in; }
    #strategies .image_boxes:hover {
      background: url(../images/yazanoglan.jpg);
      background-size: cover; }
    #strategies .image_boxes h3 {
      color: #fff;
      margin-top: 140px;
      font-family: arial;
      float: left;
      text-align: center;
      text-transform: uppercase; }
    #strategies .image_boxes .words {
      width: 200px;
      height: 16px;
      font-size: 16px;
      color: #fff; }
  #strategies :nth-child(2), #strategies :nth-child(3), #strategies :nth-child(6), #strategies :nth-child(7) {
    margin-left: 45px;
    background-color: #F8C56D; }
  #strategies :nth-child(1), #strategies :nth-child(4), #strategies :nth-child(5), #strategies :nth-child(8) {
    margin-top: 40px;
    margin-left: 70px;
    background-color: #4954A3; }

#statistics {
  border: 1px solid red;
  width: 100%;
  height: 200px;
  float: left; }
  #statistics .campus {
    background: url(../images/campus.jpg);
    background-size: cover;
    border: 1px solid red;
    float: left;
    width: 277px;
    height: 200px;
    margin-left: 160px; }
    #statistics .campus .icon {
      border: 1px solid red;
      width: 100%;
      height: 80px;
      float: left;
      margin-top: 119px; }
      #statistics .campus .icon .link {
        float: left;
        width: 80px;
        height: 79px;
        border: 1px solid red;
        font-size: 25px;
        line-height: 79px;
        text-align: center; }
      #statistics .campus .icon i {
        float: left; }
      #statistics .campus .icon i:hover {
        color: red;
        cursor: pointer; }
      #statistics .campus .icon i {
        float: left;
        font-size: 25px; }
      #statistics .campus .icon .word {
        border: 1px solid red;
        float: left;
        height: 79px;
        width: 193px; }
        #statistics .campus .icon .word .tour {
          border: 1px solid red;
          width: 100%;
          height: 39px;
          float: left;
          font-size: 22px;
          line-height: 39px;
          font-family: sans-serif;
          text-align: left;
          font-weight: bold;
          color: #FFFFFF; }
        #statistics .campus .icon .word .university {
          border: 1px solid red;
          width: 100%;
          height: 37px;
          float: left;
          line-height: 37px;
          font-size: 16px;
          color: #FFFFFF;
          text-align: left;
          font-style: italic;
          font-family: sans-serif; }
  #statistics .sameclasses {
    width: 738px;
    height: 200px;
    float: left;
    background: #F5F5F5; }
    #statistics .sameclasses .fact {
      width: 244px;
      height: 200px;
      float: left;
      font-size: 15px; }
      #statistics .sameclasses .fact .cont {
        width: 150px;
        height: 195px;
        float: left;
        border: 1px solid red;
        margin-left: 49px; }
        #statistics .sameclasses .fact .cont .icon_div {
          border: 1px solid red;
          font-size: 25px;
          float: left;
          width: 100%;
          height: 115px;
          text-align: center;
          line-height: 115px; }
          #statistics .sameclasses .fact .cont .icon_div:hover {
            color: red; }
        #statistics .sameclasses .fact .cont .ninety {
          width: 100%;
          height: 40px;
          float: left;
          border: 1px solid red;
          font-size: 25px;
          text-align: center;
          font-weight: bold;
          color: #333333;
          line-height: 40px; }
          #statistics .sameclasses .fact .cont .ninety:hover {
            color: green; }
        #statistics .sameclasses .fact .cont .nat {
          width: 100%;
          height: 35px;
          float: left;
          border: 1px solid red;
          font-size: 18px;
          line-height: 35px;
          text-align: center; }
          #statistics .sameclasses .fact .cont .nat:hover {
            color: green; }
      #statistics .sameclasses .fact :first-child {
        border-right: 1px solid red; }
      #statistics .sameclasses .fact :nth-child(2) {
        border-right: 1px solid red; }
  #statistics .john {
    border: 1px solid red;
    width: 277px;
    height: 200px;
    float: left;
    background: #2B7BB8; }
    #statistics .john .icons {
      width: 100%;
      height: 15px;
      float: left;
      border: 1px solid red; }

/*# sourceMappingURL=style.css.map */
