#statistics {
	border:$border;
	width:100%;
	height:$height;
	float:left;
		.campus {
			background:url(../images/campus.jpg);
			background-size:cover;
			border:$border;
			float:left;
			width:277px;
			height:$height;
			margin-left:160px;
			.icon {
				border:$border;
				width:100%;
				height:80px;
				float:left;
				margin-top:119px;
					.link {
						float:left;
						width:80px;
						height:79px;
						border:$border;
						font-size:25px;
						line-height: 79px;
						text-align:center;
					}
				i {
					float:left;
				}
				i:hover {
					color:red;
					cursor:pointer;
				}
				i  {
					float:left;
					font-size:25px;
				}
					.word {
						border:$border;
						float:left;
						height:79px;
						width:193px;
						// h4 {
						// 	font-family:sans-serif;
						// 	font-size:22px;
						// 	text-align:center;
						// 	margin-bottom:50px;

						// }
						// em {
						// 	font-family:italic;
						// 	font-size:16px;
						// 	padding-bottom:50px;
						// }
						.tour {
							border:$border;
							width:100%;
							height:39px;
							float:left;
							font-size:22px;
							line-height:39px;
							font-family:sans-serif;
							text-align: left;
							font-weight:bold;
							color:#FFFFFF;
						}
						.university {
							border:$border;
							width:100%;
							height:37px;
							float:left;
							line-height:37px;
							font-size:16px;
							color:#FFFFFF;
							text-align: left;
							font-style:italic;
							font-family: sans-serif;
						}
					}
			}
		}
		.sameclasses {
			width:738px;
			height:$height;
			float:left;
			background:#F5F5F5;
			.fact {
				width:244px;
				height:$height;
				float:left;
				// border:$border;
				font-size:15px;
				.cont {
					width:150px;
					height:195px;
					float:left;
					border:$border;
					margin-left:49px;
						.icon_div {	
							border:$border;
							font-size: 25px;
							float:left;
							width:100%;
							height:115px;
							text-align:center;
							line-height:115px;
							&:hover {
								color:red;
							}
						}
						.ninety {
						width:100%;
						height:40px;
						float:left;
						border:$border;
						font-size:25px;
						text-align:center;
						font-weight:bold;
						color:#333333;
						line-height:40px;
						&:hover {
							color:green;
						}
					}
						.nat {
						width:100%;
						height:35px;
						float:left;
						border:$border;
						font-size:18px;
						line-height: 35px;
						text-align:center;
						&:hover {
							color:green;
						}
					}
				}
			:first-child {
					border-right:1px solid red;
				}
			:nth-child(2){
					border-right:1px solid red;
				}
			:last-child {

				}
			}
		}
		.john {
			border:$border;
			width:277px;
			height:$height;
			float:left;
			background:#2B7BB8;
			.icons {
				width:100%;
				height:15px;
				float:left;
				border:$border;
			}
		}
	}