html,body {
	margin:0;
	padding:0;
	display:table;
}
#strategies {
	border:$border;
	width:100%;
	height:900px;
	float:left;
	background:#F8F9F9;
	.#{image_boxes} {
		border:$border;
		width:300px;
		height:310px;
		float:left;
		border-radius:6%;
		transition: all 2s ease-in;
		&:hover{
			background:url(../images/yazanoglan.jpg);
			background-size:cover;
		}
		h3 {
			color:#fff;
			margin-top:140px;
			font-family:arial;
			float:left;
			text-align:center;
			text-transform:uppercase;
		}
		.words{
			width:200px;
			height:16px;
			font-size:16px;
			color:#fff;
			// word-spacing:3px;
			
		}
	}
	:nth-child(2),:nth-child(3),:nth-child(6),:nth-child(7) {
		margin-left:45px;
		background-color:#F8C56D;
	}
	:nth-child(1),:nth-child(4),:nth-child(5),:nth-child(8) {
		margin-top:40px;
		margin-left:70px;
		background-color:#4954A3;
	}

}
